<input type="checkbox" id="menu-toggle">
    <div class="btn_one">
        <label for="menu-toggle">
            <i class="fa-solid fa-bars" style="font-size: 50px;  font-weight: 700;"></i>
        </label>
    </div>
    <div class="sidebar">
        <img src="/images/fn.jpg" class="personal-img" alt="Personal Image" />
        <div class="btn_two">
            <label for="menu-toggle">
                <i class="fa-solid fa-xmark" style="font-size: 50px;  font-weight: 700;"></i>
            </label>
        </div>
        <div class="menu">
            <a href="/">Home<br></a>
            <a href="/home/aboutme"> About Me<br></a>
            <a href="/home/myprojects"> My Projects<br></a>
            <a href="/home/miscellaneous"> Miscellaneous<br></a>
            <a href="/home/contactme"> Contact Me<br></a>
        </div>
    </div>