<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/myprojects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Projects</title>
</head>

<body>
    <section class="projects-section">
        <div class="projects-container">
            <h2 class="section-title">Projects</h2>

            <div class="project">
                <h3 class="project-title">Advanced-Generative-AI-For-Skin-Diseases <a href="https://github.com/rajvineet968/Advanced-Generative-AI-For-Skin-Diseases"><i class="fa-brands fa-github"></i></a></h3>
                <ul class="project-points">
                    <li>Contributed to a machine learning model for detecting skin diseases using image recognition.
                    </li>
                    <li>Assisted in integrating AI models, Flask API, and backend processing for data analysis.</li>
                    <li><strong>Tech Used:</strong> Python, Flask, OpenAI API, YOLO, React.js</li>
                    
                </ul>
            </div>

            <div class="project">
                <h3 class="project-title">Carbon_footprints <a href="https://github.com/rajvineet968/Carbon_footprints"><i class="fa-brands fa-github"></i></a></h3>
                <ul class="project-points">
                    <li>Part of a team that developed Eco Track, a tool to estimate carbon footprints using APIs.</li>
                    <li>Helped in data visualization with Google Charts and learned React.js for dashboard development.
                    </li>
                    <li><strong>Tech Used:</strong> Python, React.js, APIs, Data Visualization</li>
                </ul>
            </div>

            <div class="project">
                <h3 class="project-title">IoT-Based Food Compliance Tracker <a href="https://github.com/rajvineet968/IoT-Based-Food-Compliance-Tracker"><i class="fa-brands fa-github"></i></a></h3>
                <ul class="project-points">
                    <li>Worked on an IoT-powered food compliance tracking system focusing on real-time monitoring.</li>
                    <li>Assisted in data collection, analysis, and IoT-based supply chain tracking.</li>
                    <li><strong>Tech Used:</strong> Python, IoT, Data Analytics</li>
                </ul>
            </div>
        </div>
    </section>

</body>

</html>