<% layout("layouts/boilerplate") %>
<h1>
    <span class="subheading">Hello All &#128075; </span> <br>
    <span style="position: relative; left: -150px;">
        I am Vineet Raj,
        <span class="typed-text"></span>
    </span>
</h1>